<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<title>Chatting App</title>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<div class="main pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1-5"><h1>Chatting App</h1></div>
	</div>
	<br />
	<div class="main pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1-5">
			<div class="signin-form profile">
				<h3>Log in</h3>
				<div class="login-form">
					<form action="/" method="post" class="pure-form pure-form-stacked">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="Log in"  class="pure-button pure-button-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1-5">
			<div class="signin-form profile">
				<h3>Register</h3>
				
				<div class="login-form">
					<form action="/" method="post" class="pure-form pure-form-stacked">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="Register"  class="pure-button pure-button-primary">
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>				
</body>
</html>